:root {
	--badge-foreground-color: red;
	--badge-background-color: yellow;
}

#badge-area {
	width: 100%;
	margin-top: 128px;
	margin-bottom: 128px;
	text-align: center;
}

.badge-foreground {
	color: var(--badge-foreground-color);
}

.badge-background {
	color: var(--badge-background-color);
}
